
.program-card {
    border-radius: 18px;
    background: rgb(255, 255, 255);
    padding: 10px 15px;
}

.programs-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h3 {
    font-weight: 600;
    margin: 5px
}

.program-actions {
    display: flex;
    gap: 5px;
    justify-content: center;
    ;
}


.program-actions button {
    padding: 10px 15px;
    background: rgb(218, 218, 218);
    border-radius: 10px
    
}

.select-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}
