h1 {
    margin: 0 0 10px 0;
    text-align: center;
}

.current-program span {
    font-weight: 700;
}

.phase-display.ready span {
    font-weight: 700;
    color: rgb(2, 161, 58);
}

.phase-display.work span {
    font-weight: 700;
    color: rgb(161, 2, 2);
}

.phase-display.rest span {
    font-weight: 700;
    color: rgb(2, 20, 161);
}

.time-display {
    font-size: 70px;
    text-align: center;
    padding: 20px;
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 3px;
}


.btn {
    border-radius: 5px;
    overflow: hidden;
    border: none;
    background-color: white;
    font-size: 16px;
    padding: 10px 15px;
}

.btn:hover {
    background: rgb(200, 200, 200);
}

.btn:disabled {
    cursor: not-allowed;
}

.program-details {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    font-size: 20px;
}